<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h2>Login</h2>
  <form action="/login" method="POST">
    <input type="text" name="rakutenid" placeholder="Rakuten ID" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  <a href="/">Home</a>
</body>
</html>
